<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Don's Portfolio</title>
  </head>
  <body>
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col" style="background-color: #eee; position: relative;">
          <h1 class="display-1" style="position: absolute; top: 40%; right: 20px;">Hello, world!</h1>
          <ul class="nav">
            <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="{% url 'post:all_blogs' %}" class="nav-link">Blog</a></li>
          </ul>
        </div>
        <div class="col" style="background-color: black;">
          {% load static %}
          <img src="{% static 'portfolio/profile_bgb.jpg' %}" alt="profile photo" style="width: auto; height: 100vh;">
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        {% for project in projects %}
        <div class="col-md-4 card mb-3" style="border: none;">
          <img src="{{ project.image.url}}" alt="beach" class="card-img-top img-thumbnail" style="min-height: 230px; height: 230px; overflow: hidden;">
          <div class="card-body">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="cart-text">{{ project.description }}</p>
            {% if project.url %}
            <a href="{{ project.url}}" class="btn btn-info">Link</a>
            {% endif %}  
          </div>          
        </div>
        {% endfor %}
      </div>
    </div>

    

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>